{
  "presets": [
    [
      // 將 ES6 編譯成 ES5
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "67"
        },
        "corejs": "2",
        // 設定完後，就不用在開發檔案內另外引入 import '@babel/polyfill'
        "useBuiltIns": "usage"
      }
    ],
    "@babel/preset-react"
  ]
}
